<h1>Registration</h1>

{{registerForm.form.valid}}
<div class="form-container">
<form #registerForm="ngForm" (ngSubmit)="registerFormValue(registerForm.value)" class="form-signin">

    <div class="form-group">
        <input name="name" type="text" placeholder="Enter name" required
            #name="ngModel" 
            [(ngModel)]="registerForm.name" 
            [class.is-invalid]="name.invalid && name.touched"
            class="form-control" >
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>
    </div>
    <div class="form-group">
        <input name="age" type="number" placeholder="Enter age" required
            #age="ngModel" 
            [(ngModel)]="registerForm.age" 
            [class.is-invalid]="age.invalid && age.touched"
            class="form-control" >
        <small class="text-danger" [class.d-none]="age.valid || age.untouched">age is required</small>
    </div>
    <div class="form-group">
        <input name="position" type="text" placeholder="Enter position" required
            #position="ngModel" 
            [(ngModel)]="registerForm.position" 
            [class.is-invalid]="position.invalid && position.touched"
            class="form-control" >
        <small class="text-danger" [class.d-none]="position.valid || position.untouched">position is required</small>
    </div>
    <div class="form-group">
        <input name="salary" type="number" placeholder="Enter salary" required
            #salary="ngModel" 
            [(ngModel)]="registerForm.salary" 
            [class.is-invalid]="salary.invalid && salary.touched"
            class="form-control" >
        <small class="text-danger" [class.d-none]="salary.valid || salary.untouched">salary is required</small>
    </div>
    <div class="form-group">
      <input name="email" type="email" placeholder="Email address" required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        #email="ngModel" 
        [(ngModel)]="registerForm.email" 
        [class.is-invalid]="email.invalid && email.touched"
        class="form-control" >
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
    </div>
    <div class="form-group">
      <input name="password" type="password" placeholder="Password" required
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
        #password="ngModel"
        [(ngModel)]="registerForm.password" 
        [class.is-invalid]="password.invalid && password.touched"
        class="form-control">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
    </div>
    <div class="form-group">
        <button [disabled]="registerForm.form.invalid" class="btn btn-lg btn-primary btn-block btn-signin">Sign up</button>
    </div>
</form>

</div>
